/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.back {
	transform: perspective(600px) rotateY(-180deg);
	transition-duration: 2s;
	transform-style: preserve-3d;
	z-index: 0;
}

.portfolio-item:hover .back {
	transform: perspective(600px) rotateY(0deg);
	transform-style: preserve-3d;
	transition-duration: 2s;
	z-index: 1;
}

.front {
	position: absolute;
	transition-duration: 2s;
	transform: perspective(600px) rotateY(0deg);
	transform-style: preserve-3d;
	z-index: 1;
}

.portfolio-item:hover .front {
	transform: perspective(600px) rotateY(180deg);
	transform-style: preserve-3d;
	transition-duration: 2s;
	backface-visibility: hidden;
	z-index: 0;
}